/* ==========================================
   WEDDING INVITATION
   Version 1.0
   Author: ChatGPT
========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --gold: #d4af37;
    --gold-light: #f5d97a;
    --cream: #f8f4eb;
    --black: #050505;
    --text: #ffffff;

}

html {

    scroll-behavior: smooth;

}

body {

    background: var(--black);

    color: var(--text);

    font-family: "Cormorant Garamond", serif;

    overflow-x: hidden;

}

.hero{

    position:relative;

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

    background:
    radial-gradient(
        circle at center,
        rgba(212,175,55,.06),
        transparent 45%
    ),
    linear-gradient(
        180deg,
        #000000 0%,
        #050505 35%,
        #090909 100%
    );

}

.hero-content{

    position:relative;

    z-index:30;

    display:flex;

    flex-direction:column;

    align-items:center;

    opacity:0;

    animation:heroAppear 2s forwards;

    animation-delay:3.5s;

}

.monogram{

    opacity:0;

    color:#d4af37;

    font-size:34px;

    letter-spacing:18px;

    margin-bottom:40px;

    text-shadow:

        0 0 10px rgba(212,175,55,.35),

        0 0 30px rgba(212,175,55,.15);

    animation:showMonogram 1.5s forwards;

    animation-delay:3.2s;

}

h1{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:24px;

    font-size:96px;

    font-weight:500;

    color:white;

}

.name-left{

    opacity:0;

    transform:translateY(20px);

    animation:leftName 1.4s forwards;

    animation-delay:4.4s;

}

.amp{

    color:#d4af37;

    opacity:0;

    transform:scale(.2);

    text-shadow:

        0 0 10px rgba(212,175,55,.4),

        0 0 35px rgba(212,175,55,.2);

    animation:ampAppear 1.2s forwards;

    animation-delay:5.6s;

}

.name-right{

    opacity:0;

    transform:translateY(20px);

    animation:rightName 1.4s forwards;

    animation-delay:6.6s;

}

.date{

    opacity:0;

    margin-top:35px;

    color:#f0d98a;

    letter-spacing:10px;

    font-size:28px;

    animation:showDate 1.3s forwards;

    animation-delay:7.8s;

}

button {

    margin-top: 60px;

    padding: 18px 46px;

    border: 1px solid var(--gold);

    background: transparent;

    color: white;

    cursor: pointer;

    letter-spacing: 4px;

    border-radius: 50px;

    font-size: 18px;

    font-weight: 600;

    opacity:0;

    transition:.4s;

    animation:showButton 1.4s forwards;

    animation-delay:9.1s;

}

button:hover {

    background: var(--gold);

    color: black;

    transform: translateY(-4px);

    box-shadow: 0 15px 35px rgba(212,175,55,.35);

}

/* ==========================================
   CHILDHOOD SECTION
========================================== */
.childhood{
background:#f8f4eb;
min-height:100vh;
padding:120px 40px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
overflow:hidden;
position:relative;
}
.child-title{
font-size:64px;
font-weight:500;
color:#b58b2c;
margin-bottom:80px;
text-align:center;
}
.child-scene{

    position:relative;

    width:100%;

    max-width:1200px;

    height:520px;

    margin:70px auto 0;

}
.child{
position:absolute;
top:50%;
transform:translateY(-50%);
text-align:center;
transition:transform 2s ease;
}
.child-left{

    left:160px;

}
.child-right{

    right:160px;

}
.child-label{

    margin-top:24px;

    font-size:28px;

    color:#8a6b20;

    letter-spacing:2px;

}
.child-photo{
width:280px;
height:280px;
object-fit:cover;
border-radius:50%;
border:6px solid #d4af37;
box-shadow:0 20px 60px rgba(0,0,0,.18);
}
.heart{

    position:absolute;

    left:50%;

    top:66%;

    transform:translateX(-50%);

    font-size:68px;

    color:#d4af37;

    text-shadow:
        0 0 10px rgba(212,175,55,.45),
        0 0 20px rgba(212,175,55,.35),
        0 0 40px rgba(212,175,55,.2);

    transition:.8s;

    z-index:10;

}
.heart.glow{

    transform:translate(-50%,-50%) scale(1.12);

    text-shadow:
        0 0 15px rgba(212,175,55,.7),
        0 0 35px rgba(212,175,55,.6),
        0 0 70px rgba(212,175,55,.45);

}
.child-text{

    width:100%;

    text-align:center;

    color:#8a6b20;

    font-size:52px;

    line-height:1.3;

    font-weight:400;

    margin-bottom:70px;

    opacity:1;

    transform:none;

}

.divider{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:22px;

    margin:22px 0;

    color:#d4af37;

    font-size:28px;

}

.divider span{

    width:90px;

    height:2px;

    background:#d4af37;

    opacity:.6;

}
.child-text.show{
opacity:1;
transform:translateY(0);
}
@media (max-width:768px){
.child-title{font-size:42px;}
.child-scene{height:auto;}
   .child-scene{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.childhood{overflow:visible;}
.child{position:static;transform:none!important;margin:0 auto 30px;}
.child-left,.child-right{left:auto;right:auto;}
.heart{position:static;transform:none;margin:20px 0;text-align:center;}
.child-photo{width:220px;height:220px;}
.child-text{font-size:26px;}
}

/* ===== STORY ===== */

.story{
   background: #f8f2e9;
;
    padding:120px 50px;
}
.story h2{
    text-align: center;
    font-size: 54px;
    color: #b58b2c;
    line-height: 1.2;
    margin-bottom: 20px;
}
.story-header{
    text-align:center;
    margin-bottom:70px;
}

.title-divider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
}

.title-divider span{
    width:80px;
    height:2px;
    background:linear-gradient(90deg,#caa03a,#e9cf73);
    border-radius:50px;
}

.title-divider{
    color:#caa03a;
    font-size:18px;
}

.story-line{

    display:flex;

    justify-content:center;

    gap:40px;

    flex-wrap:wrap;

}

.story-card{

    width:320px;

    background:#fffdf9;

    border-radius:25px;
    border:1px solid rgba(212,175,55,.35);

    overflow:hidden;

    box-shadow:
0 12px 35px rgba(0,0,0,.08),
0 2px 10px rgba(212,175,55,.08);
    transition: .45s ease;

}

.story-photo{

    width:100%;

    height:260px;

    object-fit:cover;
    transition:.45s ease;
    display:block;
border-bottom:1px solid rgba(212,175,55,.15);

}
.story-card:hover{

    transform:translateY(-12px) scale(1.02);

    box-shadow:
    0 25px 60px rgba(0,0,0,.15),
    0 5px 20px rgba(212,175,55,.20);

}

.story-card:hover .story-photo{
    transform:scale(1.06);
}

.year{

   background:linear-gradient(90deg,#caa03a,#e9cf73,#caa03a);

    color:white;

    text-align:center;

    padding:12px;

    font-size:22px;

}

.story-card h3{

    padding:25px 25px 10px;

    text-align:center;

    font-size:26px;

    color:#8c6b35;

    font-weight:500;
}

.story-card p{

    padding:0 25px 30px;

    text-align:center;

    line-height:1.7;

    color:#6d6458;

    font-size:17px;

    font-weight:400;
}
html{

    scroll-behavior:smooth;

}
/* ===========================
   ANIMATIONS
=========================== */

.child-title,
.child,
.heart,
.child-text{

    opacity:0;

    transform:translateY(60px);

    animation:fadeUp 1.2s forwards;

}

.child-title{

    animation-delay:.2s;

}

.left{

    animation-delay:.7s;

}

.heart{

    animation-delay:1.2s;

}

.right{

    animation-delay:1.7s;

}

.child-text{

    animation-delay:2.2s;

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(60px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ==========================
   GOLD DUST
========================== */

#particles{

    position:absolute;

    inset:0;

    overflow:hidden;

    pointer-events:none;

    z-index:1;

}

#particles span{

    position:absolute;

    width:6px;

    height:10px;

    background:linear-gradient(
        135deg,
        #fff7c8,
        #f7d76b,
        #c79b1d
    );

    border-radius:2px;

    opacity:0;

    box-shadow:
        0 0 10px rgba(255,220,120,.9);

    animation:goldDust linear infinite;

}

#particles span:nth-child(1){left:8%;top:100%;animation-duration:18s;animation-delay:0s;}
#particles span:nth-child(2){left:17%;top:100%;animation-duration:22s;animation-delay:2s;}
#particles span:nth-child(3){left:26%;top:100%;animation-duration:20s;animation-delay:5s;}
#particles span:nth-child(4){left:35%;top:100%;animation-duration:25s;animation-delay:1s;}
#particles span:nth-child(5){left:44%;top:100%;animation-duration:19s;animation-delay:7s;}
#particles span:nth-child(6){left:53%;top:100%;animation-duration:24s;animation-delay:4s;}
#particles span:nth-child(7){left:62%;top:100%;animation-duration:21s;animation-delay:6s;}
#particles span:nth-child(8){left:71%;top:100%;animation-duration:18s;animation-delay:3s;}
#particles span:nth-child(9){left:80%;top:100%;animation-duration:26s;animation-delay:5s;}
#particles span:nth-child(10){left:90%;top:100%;animation-duration:23s;animation-delay:2s;}

@keyframes goldDust{

    0%{

        transform:translateY(0) scale(.3);

        opacity:0;

    }

    10%{

        opacity:1;

    }

    100%{

        transform:translateY(-120vh) scale(1.2);

        opacity:0;

    }

}

/* ==========================
   HERO INTRO
========================== */

.monogram{

    opacity:0;

    animation:fadeIn 1.5s forwards;

    animation-delay:.5s;

}

h1{

    opacity:0;

    animation:fadeIn 1.5s forwards;

    animation-delay:1.8s;

}

.date{

    opacity:0;

    animation:fadeIn 1.5s forwards;

    animation-delay:3s;

}

#openInvitation{

    opacity:0;

    transform:translateY(20px);

    animation:buttonShow 1.2s forwards;

    animation-delay:4.2s;

}

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes buttonShow{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
@keyframes goldDust{

    0%{

        opacity:0;

        transform:
        translateY(0)
        rotate(0deg)
        scale(.4);

    }

    10%{

        opacity:1;

    }

    35%{

        transform:
        translateY(-35vh)
        translateX(-12px)
        rotate(120deg);

    }

    60%{

        transform:
        translateY(-70vh)
        translateX(14px)
        rotate(260deg);

    }

    100%{

        opacity:0;

        transform:
        translateY(-130vh)
        translateX(-8px)
        rotate(540deg)
        scale(1.2);

    }

}
/* ===========================
   GOLD FOIL (JavaScript)
=========================== */

.flake{

    position:absolute;

    background:linear-gradient(
        135deg,
        #fff9d8 0%,
        #f4d26a 45%,
        #be8b18 100%
    );

    border-radius:2px;

    opacity:0;

    pointer-events:none;

    box-shadow:
        0 0 8px rgba(255,230,140,.8);

    animation:foilFloat linear infinite;

}

@keyframes foilFloat{

    0%{

        opacity:0;

        transform:
            translateY(0)
            translateX(0)
            rotate(0deg);

    }

    10%{

        opacity:1;

    }

    30%{

        transform:
            translateY(-30vh)
            translateX(-20px)
            rotate(120deg);

    }

    60%{

        transform:
            translateY(-70vh)
            translateX(15px)
            rotate(260deg);

    }

    100%{

        opacity:0;

        transform:
            translateY(-140vh)
            translateX(-10px)
            rotate(540deg);

    }

}

@keyframes heroAppear{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
@keyframes leftName{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes ampAppear{

    0%{

        opacity:0;

        transform:scale(.2);

    }

    50%{

        opacity:1;

        transform:scale(1.35);

        text-shadow:

        0 0 25px #d4af37,

        0 0 60px rgba(212,175,55,.9);

    }

    100%{

        opacity:1;

        transform:scale(1);

    }

}

@keyframes rightName{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
@keyframes showMonogram{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes showDate{

    from{

        opacity:0;

        transform:translateY(15px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes showButton{

    from{

        opacity:0;

        transform:translateY(25px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }
}
.couple-photo{

    position:absolute;

    left:50%;

    top:50%;

    transform:translate(-50%,-50%) scale(.75);

    opacity:0;

    z-index:20;

    transition:
        opacity 2s ease,
        transform 2s ease;

}

.couple-photo img{

    width:320px;

    height:430px;

    object-fit:cover;

    border-radius:50% / 38%;

    border:6px solid #d4af37;

    box-shadow:
        0 25px 80px rgba(0,0,0,.28),
        0 0 35px rgba(212,175,55,.35);

    background:white;

    padding:8px;

}

.couple-photo.show{

    opacity:1;

    transform:translate(-50%,-50%) scale(1);

}

.child.hide{

    opacity:0;

    transition:1.5s;

}

.child-text{

    opacity:0;

    transition:1.5s;

}

.child-text.show{

    opacity:1;

}
.gold-flash{

    position:absolute;

    left:50%;
    top:50%;

    width:40px;
    height:40px;

    transform:translate(-50%,-50%) scale(0);

    border-radius:50%;

    background:radial-gradient(
        circle,
        rgba(255,245,180,.95) 0%,
        rgba(245,210,90,.75) 35%,
        rgba(212,175,55,.35) 65%,
        transparent 100%
    );

    opacity:0;

    z-index:25;

    pointer-events:none;

}

.gold-flash.show{

    animation:goldFlash 1.8s forwards;

}

@keyframes goldFlash{

    0%{

        opacity:0;

        transform:translate(-50%,-50%) scale(.2);

    }

    20%{

        opacity:1;

    }

    100%{

        opacity:0;

        transform:translate(-50%,-50%) scale(18);

    }

}
.child{

    transition:1.3s;

}

.child.hide{

    opacity:0;

    transform:scale(.75);

    filter:blur(12px);

}
.title-main{

    display:block;

    font-size:56px;

    line-height:1.2;

}

.title-sub{

    display:block;

    margin-top:10px;

    font-size:38px;

    opacity:.85;

    line-height:1.5;

}
/* ==========================
   COUNTDOWN
========================== */

.countdown{
    background:
radial-gradient(circle at 50% 35%,
#2b2b2b 0%,
#1b1b1b 25%,
#111111 55%,
#090909 78%,
#000000 100%);
    padding:140px 40px;
    text-align:center;
}

.countdown-content{
    max-width:1200px;
    margin:0 auto;
}

.wedding-date{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:28px;
    margin-bottom:55px;
}

.wedding-date span{
    font-family:"Cormorant Garamond",serif;
    font-size:88px;
    font-weight:600;
    color:#f3e8d0;
    text-shadow:
        0 0 12px rgba(212,175,55,.25);
}

.dot{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#d4af37;
}

.countdown-text{
    max-width:900px;
    margin:10px auto 85px;
    font-family:"Cormorant Garamond",serif;
    font-size:28px;
    font-weight:400;
    line-height:1.6;
    color:#efe5d0;
}

.timer{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:28px;
}

.time-box{
    min-width:150px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.time-box span{
    font-family:"Cormorant Garamond",serif;
    font-size:110px;
    font-weight:600;

    background:linear-gradient(
        180deg,
        #fff4bf 0%,
        #f4d76d 18%,
        #d4af37 45%,
        #b8860b 72%,
        #f5de7a 100%
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;

    text-shadow:
        0 0 8px rgba(212,175,55,.18),
        0 0 20px rgba(212,175,55,.10);
}

.time-box small{
    margin-top:12px;
    font-size:17px;
    letter-spacing:4px;
    text-transform:uppercase;
    color:#efe5d0;
}

.timer-star{
    font-size:15px;
    color:#d4af37;
    margin-top:42px;
}
/* ==========================
   TIMER STAR ANIMATION
========================== */

.timer-star{
    animation:starGlow 3s infinite ease-in-out;
}

.timer-star:nth-of-type(2){
    animation-delay:0s;
}

.timer-star:nth-of-type(4){
    animation-delay:1s;
}

.timer-star:nth-of-type(6){
    animation-delay:2s;
}

@keyframes starGlow{

    0%,100%{
        opacity:.35;
        transform:scale(1);
        text-shadow:none;
    }

    50%{
        opacity:1;
        transform:scale(1.25);
        text-shadow:
            0 0 8px rgba(212,175,55,.7),
            0 0 18px rgba(212,175,55,.45);
    }

}
/* ======= VENUE ======= */

.venue{
    background:#f5f0e8;
    text-align:center;
    padding:120px 40px;
}
.section-title{
    font-family:"Cormorant Garamond", serif;
    font-size:64px;
    font-weight:600;
    color:#b78b2c;
    text-align:center;
    margin-bottom:20px;
    letter-spacing:1px;
}
.section-divider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:18px;
    margin-bottom:55px;

    color:#d4af37;

    font-size:20px;
}

.section-divider span{
    width:90px;
    height:1px;
    background:#d4af37;
}
.venue-photo-wrap{
    display:flex;
    justify-content:center;
    margin:55px 0 40px;
}

.venue-photo{
    width:360px;
    height:360px;

    object-fit:cover;

    border-radius:50%;

    border:8px solid #d4af37;

    box-shadow:
        0 0 0 2px #f3ddb0,
        0 18px 40px rgba(0,0,0,.18);

    transition:transform .35s ease,
               box-shadow .35s ease;
}

.venue-photo:hover{
    transform:scale(1.03);

    box-shadow:
        0 0 0 2px #f3ddb0,
        0 25px 50px rgba(0,0,0,.22);
}
.venue-name{
    font-family:"Cormorant Garamond",serif;
    font-size:62px;
    font-weight:500;
    color:#111;

    margin-bottom:10px;
}
.venue-location{
    font-size:22px;

    color:#8b7557;

    margin-bottom:50px;

    letter-spacing:1px;
}
.venue-button{

    display:inline-flex;

    justify-content:center;

    align-items:center;

    width:360px;

    height:72px;

    border:2px solid #d4af37;

    border-radius:999px;

    text-decoration:none;

    color:#b78b2c;

    font-size:22px;

    font-family:"Cormorant Garamond",serif;

    transition:.35s;
}

.venue-button:hover{

    background:#d4af37;

    color:white;

}
/* ===========================
        DRESS CODE
=========================== */

.dress-code{
    background:#f5f0e8;
    padding:120px 40px;
    text-align:center;
}

.dress-text{
    max-width:700px;
    margin:35px auto 80px;

    font-family:"Cormorant Garamond", serif;
    font-size:28px;
    line-height:1.6;
    color:#5d5145;
}

.dress-wrapper{
    max-width:1100px;
    margin:0 auto;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:100px;
}

.dress-column{
    flex:1;
}

.dress-column h3{
    font-family:"Cormorant Garamond", serif;
    font-size:42px;
    font-weight:500;

    color:#b78b2c;

    margin-bottom:45px;
}

.fabric-list{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:22px;
    flex-wrap:wrap;
}

.fabric{
    width:105px;
    height:105px;

    object-fit:cover;

    border-radius:12px;

    cursor:pointer;

    box-shadow:0 12px 30px rgba(0,0,0,.12);

    transition:
        transform .35s ease,
        box-shadow .35s ease;
}

.fabric:hover{
    transform:scale(1.12);

    box-shadow:0 18px 45px rgba(0,0,0,.20);
}
.fabric-row{
    display:flex;
    justify-content:center;
    gap:18px;
}

.fabric-row-bottom{
    margin-top:18px;
    gap:18px;
}
/* ==========================
          TIMELINE
========================== */

.timeline{
        background:
radial-gradient(circle at 50% 35%,
#2b2b2b 0%,
#1b1b1b 25%,
#111111 55%,
#090909 78%,
#000000 100%);
    padding:140px 40px;
}

.timeline .section-title{
    color:#b78b2c;
}

.timeline-subtitle{
    text-align:center;
    margin:28px 0 45px;

    font-family:"Cormorant Garamond", serif;
    font-size:36px;
    color:#efe5d0;
}

.timeline-wrapper{
    position:relative;

    max-width:1100px;
    margin:90px auto 0;
}

.timeline-wrapper::before{
    content:"";
    position:absolute;
    top:0;
    left:50%;

    width:2px;
    height:0;

    background:#b78b2c;

    transform:translateX(-50%);
    transition:height 1.8s cubic-bezier(.22,1,.36,1);
}
.timeline-wrapper.animate::before{
    height:100%;
}
.timeline-item{

    display:flex;

    align-items:center;

    margin-bottom:90px;

    position:relative;
    opacity:0;
    transform:translateY(40px);
    transition:all .8s ease;
}
.timeline-item.show{
    opacity:1;
    transform:translateY(0);
}

.timeline-item.left{

    justify-content:flex-start;
}

.timeline-item.right{

    justify-content:flex-end;
}

.timeline-card{

    width:42%;
}

.timeline-item.left .timeline-card{

    text-align:right;

    padding-right:45px;
}

.timeline-item.right .timeline-card{

    text-align:left;

    padding-left:28px;
}

.timeline-card h3{

    font-family:"Cormorant Garamond", serif;

    font-size:54px;

    font-weight:600;

    color:#b78b2c;

    margin-bottom:12px;
    opacity:0;
transform:translateY(15px);
transition:all .45s ease;

    line-height:1;
}

.timeline-info{

    display:flex;

    align-items:center;

    gap:12px;
    opacity:0;
transform:translateY(15px);
transition:all .45s ease;
transition-delay:.2s;
}
.timeline-item.show .timeline-card h3{

    opacity:1;
    transform:translateY(0);

}

.timeline-item.show .timeline-info{

    opacity:1;
    transform:translateY(0);

}
.timeline-star{

    color:#efe5d0;

    font-size:18px;

    margin-top:2px;

    flex-shrink:0;
}

.timeline-item.left .timeline-info{

    justify-content:flex-end;
}

.timeline-item.right .timeline-info{

    justify-content:flex-start;
}

.timeline-info p{

    margin:0;

    font-size:28px;

    color:#efe5d0;

    line-height:1.4;
}

.timeline-circle{

    width:18px;
    height:18px;

    border:2px solid #b78b2c;
    border-radius:50%;

    background:
radial-gradient(circle at 50% 35%,
#2b2b2b 0%,
#1b1b1b 25%,
#111111 55%,
#090909 78%,
#000000 100%);

    position:absolute;
    left:50%;

    transform:translateX(-50%) scale(0);

    opacity:0;

    transition:
        transform .45s ease,
        opacity .45s ease,
        box-shadow .45s ease;
}
.timeline-circle.show{

    opacity:1;

    transform:translateX(-50%) scale(1);

    box-shadow:0 0 18px rgba(212,175,55,.6);
}

.timeline-item.left::after{

    content:"";

    position:absolute;

    right:calc(50% + 9px);

    width:0;
    height:2px;

    background:#b78b2c;

    transition:width .45s ease;
}

.timeline-item.right::after{

    content:"";

    position:absolute;

    left:calc(50% + 9px);

    width:0;
    height:2px;

    background:#b78b2c;

    transition:width .45s ease;
}
.timeline-item.show.left::after{
    width:61px;
}

.timeline-item.show.right::after{
    width:42px;
}
/* ==========================
            RSVP
========================== */

.rsvp{

    background:#f8f4eb;

    padding:150px 40px;

}

.rsvp .section-title{

    color:#b78b2c;

}

.rsvp-subtitle{

    max-width:760px;

    margin:35px auto 70px;

    text-align:center;

    font-family:"Cormorant Garamond",serif;

    font-size:30px;

    line-height:1.6;

    color:#5d5145;

}

.rsvp-form{

    max-width:760px;

    margin:0 auto;

}

.rsvp-form h3{

    margin:65px 0 26px;

    font-family:"Cormorant Garamond",serif;

    font-size:38px;

    font-weight:500;

    color:#9b7626;

}

.rsvp-form input{

    width:100%;

    padding:24px 28px;

    border:2px solid #d9c8a5;

    border-radius:24px;

    background:white;

    font-size:22px;

    font-family:"Cormorant Garamond",serif;

    color:#4b4036;

    transition:.35s;

    outline:none;

}

.rsvp-form input::placeholder{

    color:#b8a999;

}

.rsvp-form input:focus{

    border-color:#b78b2c;

    box-shadow:0 0 18px rgba(183,139,44,.18);

}

.answer-buttons,

.drink-buttons{

    display:flex;

    flex-wrap:wrap;

    gap:18px;
 justify-content:center;
}

.choice-btn{

    padding:16px 34px;

    border:2px solid #b78b2c;

    border-radius:999px;

    background:transparent;

    color:#b78b2c;

    cursor:pointer;

    font-size:22px;

    font-family:"Cormorant Garamond",serif;

    transition:.35s;

}

.choice-btn:hover{

    background:#b78b2c;

    color:white;

    transform:translateY(-2px);

}

.submit-button{

    display:block;

    width:70%;

    margin:80px auto 35px;

    padding:22px;

    border:none;

    border-radius:999px;

    background:#b78b2c;

    color:white;

    font-size:26px;

    font-family:"Cormorant Garamond",serif;

    cursor:pointer;

    transition:.35s;

}

.submit-button:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 30px rgba(183,139,44,.28);

}

.deadline{

    text-align:center;

    font-size:24px;

    line-height:1.6;

    color:#7b6b5c;

    font-family:"Cormorant Garamond",serif;

}

.deadline span{

    color:#b78b2c;

    font-weight:600;

}
.choice-btn.active{

    background:#b78b2c;

    color:#ffffff;

    transform:scale(.97);

}

.submit-button:disabled{

    opacity:.45;

    cursor:not-allowed;

    box-shadow:none;

}

.submit-button:disabled:hover{

    transform:none;

}
/* ==========================
        SUCCESS
========================== */

.success-overlay{

    position:fixed;
    inset:0;

    background:#f8f4eb;

    display:flex;
    justify-content:center;
    align-items:center;

    opacity:0;
    visibility:hidden;

    transition:.8s;

    z-index:99999;

}

.success-overlay.show{

    opacity:1;
    visibility:visible;

}

.success-check{

    width:150px;
    height:150px;

    display:flex;
    justify-content:center;
    align-items:center;

    transform:scale(.85);

    opacity:0;

    transition:.5s;

}

.success-overlay.show .success-check{

    opacity:1;
    transform:scale(1);

}

.success-check.hide{

    opacity:0;
    transform:scale(.92);

    transition:.5s;

}

.success-check svg{

    width:150px;
    height:150px;

}

.check-circle{

    fill:none;

    stroke:#c79b35;

    stroke-width:2.4;

    stroke-dasharray:302;

    stroke-dashoffset:302;

}

.check-path{

    fill:none;

    stroke:#c79b35;

    stroke-width:4;

    stroke-linecap:round;

    stroke-linejoin:round;

    stroke-dasharray:72;

    stroke-dashoffset:72;

}

.draw .check-circle{

    animation:drawCircle .9s ease forwards;

}

.draw .check-path{

    animation:drawCheck .55s ease forwards;

    animation-delay:.8s;

}

@keyframes drawCircle{

    to{

        stroke-dashoffset:0;

    }

}

@keyframes drawCheck{

    to{

        stroke-dashoffset:0;

    }

}

/* ==========================
        THANK YOU
========================== */

.thank-you{

    position:fixed;

    inset:0;

    background:#f8f4eb;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

    opacity:0;

    visibility:hidden;

    transition:1s;

    z-index:9999;

}

.thank-you.show{

    opacity:1;

    visibility:visible;

}

.thank-you-content{

    position:relative;

    z-index:3;

    text-align:center;

}

.thank-title{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:28px;

    font-family:"Cormorant Garamond",serif;

    font-size:74px;

    letter-spacing:5px;

    color:#b78b2c;

    opacity:0;

    transform:translateY(30px);

}

.thank-title span{

    width:150px;

    height:2px;

    background:#c79b35;

    opacity:.95;

}

.thank-title.show{

    opacity:1;

    transform:none;

    transition:.9s;

}

.thank-date{

    margin-top:42px;

    font-size:35px;

    line-height:1.7;

    color:#66584c;

    font-family:"Cormorant Garamond",serif;

    opacity:0;

    transform:translateY(25px);

}

.thank-date span{

    color:#b78b2c;

    font-size:43px;

}

.thank-date.show{

    opacity:1;

    transform:none;

    transition:.8s;

}

.thank-love{

    margin-top:55px;

    font-size:29px;

    color:#8b7d6d;

    font-family:"Cormorant Garamond",serif;

    opacity:0;

}

.thank-love.show{

    opacity:1;

    transition:.8s;

}

.thank-names{

    margin-top:15px;

    font-size:54px;

    color:#b78b2c;

    font-family:"Great Vibes",cursive;

    font-weight:400;

    opacity:0;

    transform:translateY(20px);

}

.thank-names.show{

    opacity:1;

    transform:none;

    transition:.8s;

}

.thank-names span{

    color:#c79b35;

    margin:0 18px;

    animation:heartBeat 2.2s infinite;

}

@keyframes heartBeat{

    0%,100%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.15);

    }

}

/* ---------- Пластівці ---------- */

.thank-particles{

    position:absolute;

    inset:0;

    overflow:hidden;

    pointer-events:none;

}

.thank-particles span{

    position:absolute;

    bottom:-50px;

    width:5px;

    height:12px;

    border-radius:4px;

    background:#d4af37;

    opacity:.8;

    animation:thankFlake linear infinite;

}

@keyframes thankFlake{

    0%{

        transform:translateY(0) rotate(0deg);

        opacity:0;

    }

    15%{

        opacity:.85;

    }

    100%{

        transform:translateY(-120vh) rotate(360deg);

        opacity:0;

    }

}
/* ===========================
   MOBILE VERSION
=========================== */

@media (max-width:768px){

html{
overflow-x:hidden;
}

body{
overflow-x:hidden;
}

section{
padding:80px 25px;
}
   .hero-title{
    font-size:58px;
    line-height:1.05;
}

.hero-date{
    font-size:26px;
}

.hero-button{
    width:90%;
    max-width:340px;
    margin:35px auto 0;
}

.hero-content{
    width:100%;
    padding:0 20px;
    box-sizing:border-box;
}
@media (max-width:768px){

h1{
    flex-direction:column;
    gap:8px;
    font-size:58px;
    text-align:center;
}

.date{
    font-size:22px;
    letter-spacing:5px;
}

button{
    width:90%;
    max-width:340px;
    margin-top:35px;
}

.monogram{
    font-size:28px;
    letter-spacing:10px;
}

.hero-content{
    width:100%;
    padding:0 20px;
}
@media (max-width:768px){

.countdown{
    padding:100px 20px;
}

.wedding-date{
    gap:16px;
    margin-bottom:45px;
}

.wedding-date span{
    font-size:60px;
}

.dot{
    width:8px;
    height:8px;
}

.countdown-text{
    max-width:350px;
    margin:0 auto 45px;
    font-size:26px;
    line-height:1.5;
}

.timer{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:35px;
}

.time-box{
    min-width:145px;
}

.time-box span{
    font-size:96px;
}

.time-box small{
    margin-top:10px;
    font-size:16px;
    letter-spacing:3px;
}

.timer-star{
    display:none;
}
   .dress-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:70px;
}

.dress-column{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.dress-column h3{
    margin-bottom:28px;
    text-align:center;
}

.fabric-list,
.fabric-row,
.fabric-row-bottom{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:18px;
}

.fabric-row-bottom{
    margin-top:18px;
}
   }
   /* ===== TIMELINE MOBILE ===== */

.timeline{
    padding:100px 20px;
}

.timeline-subtitle{
    font-size:28px;
}

.timeline-wrapper{
    margin-top:60px;
}

.timeline-card{
    width:38%;
}

.timeline-card h3{
    font-size:42px;
}

.timeline-info p{
    font-size:20px;
}

.timeline-item.left .timeline-card{
    padding-right:28px;
}

.timeline-item.right .timeline-card{
    padding-left:18px;
}
   .timeline-item.right{
    padding-right:18px;
}

.timeline-item.show.left::after,
.timeline-item.show.right::after{
    width:36px;
}
   .timeline-item.right .timeline-card h3{
    margin-left:24px;
}
   .rsvp .section-title{
    font-size:72px;
    line-height:1.1;
}
